* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: FredokaOne;
    src: url(fonts/FredokaOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Medium.ttf) format("trutype");
}

body {
    font-family: Raleway;
    font-size: 18px;
    color: #ffffff;
}

.clearFix {
    clear: both;
    float: none;
}

.amarillo {
    color: #f1a600;
}

.letterSpacing {
    letter-spacing: 2px;
}

/** HEADER*/
header {
    background-color: #1f1d2c;
    padding: 40px 0px;
    position: relative;
    min-height: 900px;
}

h1.titulo {
    font-family: FredokaOne;
    font-size: 150px;
    position: relative;
    z-index: 10;
}

p.subtitulo {
    font-size: 50px;
}

/* nav */
header > nav {
    margin-bottom: 60px;
}

header > nav > ul li {
    display: block;
    float: right;
    margin-right: 54px;
}

header > nav > ul li a {
    text-decoration: none;
    color: #ffffff;
}

/*encabezado*/
header > #encabezado {
    padding-left: 140px;
}
/* intro */
header .titulo,
header p {
    margin-bottom: 20px;
}
header p.intro {
    width: 650px;
}

header p.intro2 {
    width: 400px;
}

header > #encabezado > #redes img {
    width: 75px;
    margin-right: 30px;
    margin-top: 25px;
}

/*nav e intro*/
header > nav,
h1.titulo,
.intro {
    position: relative;
    z-index: 10;
}

/*rectangulo1*/
header > #rectangulo1 {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 770px;
    z-index: 1;
}

/*foto portada*/
header > #foto-portada {
    position: absolute;
    left: 620px;
    bottom: 80px;
    width: 630px;
    height: 520px;
    z-index: 5;
}

/** SECCION ACERCA DE MI*/
